/* 簡易リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* アコーディオン全体 */
  .accordion {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* アコーディオン */
  .accordion__item {
    border: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* アコーディオンのタイトル */
  .accordion__title {
    position: relative;
    padding: 15px 60px 15px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* (+)アイコン */
  .accordion__title::before,
  .accordion__title::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #3abec1;
    width: 20px;
    height: 4px;
    transition: all 0.3s;
  }
  
  .accordion__title::after {
    transform: rotate(90deg);
  }
  
  /* アコーディオンのコンテンツ */
  .accordion__content {
    padding: 0 20px 15px 20px;
    display: none;
    cursor: pointer;
  }
  
  .accordion__content.is-open {
    display: block;
  }
  
  /* アコーディオン展開時の(-)アイコン */
  .accordion__item.is-active .accordion__title::before {
    transform: rotate(180deg);
  }
  
  .accordion__item.is-active .accordion__title::after {
    transform: rotate(180deg);
    opacity: 0;
  }

  .privacysentence{
    text-align: center;
    margin: 20px;
    padding-bottom: 40px;
  }
  h1{
    padding-bottom: 20px;
  }
  h2{
    padding-bottom: 20px;
  }

  body{
    background-color: #def3f5;
  }

  .accordion__title:hover{
    color: #5a1ec9;
  }

  .realfooter {
    background-color: #f7f9fb;
    color: #e2a2d8;
    height: 90px;
  }
  
  .realfooter-logo {
    float: left;
    font-size: 36px;
    padding: 18.2px 40px;
  }
  
  .realfooter-list a {
    padding: 33px 20px;
    float:left;
    color: #e2a2d8;
  }
  
  .privacy:hover{
    color: #5a1ec9;
  }
  .info:hover{
    color: #5a1ec9;
  }
  .contact:hover{
    color: #5a1ec9;
  }

  .privacyfooter{
    height: 400px;
  }

  dt{
    background-color: white;
  }

  dd{
    background-color: white;
  }