<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/info.css">
    <title>Document2</title>
</head>

<body>
    <div class="header">
        <div class="realfooter">
            <div class="realfooter-logo">Natsuki's burgers Company.Limited</div>
            <div class="realfooter-list">
              
                <a href="./privacy.html" class="privacy">Privacy policy</a>
                <a href="./info.html" class="info">Company info</a>
                <a href="./contact.html" class="contact">Contact form</a>
              
            </div>
        </div>
    </div>

      <div class="contents">
        <h1>Company information</h1>
        <table >
            <tbody>
                <tr>
                    <th>Company's name</th>
                    <td>Natsuki's burgers</td>
                    
                </tr>
                 <tr>
                    <th>Incorporation</th>
                    <td>June 09, 2023</td>
                    
                </tr>
                 <tr>
                    <th>Location</th>
                    <td>Secret</td>
                    
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>l231207@mail.ryukoku.ac.jp</td>
                    
                </tr>
                
            </tbody>
        </table>
      </div>

      <h3>Official YouTube Channel</h3>

      <iframe src="https://www.youtube.com/embed/uaassvmiZ0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
      <iframe src="https://www.youtube.com/embed/2Qg9rFURRjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <img class="echannel" src="C:\Users\camil\OneDrive\画像\スクリーンショット\スクリーンショット 2023-06-11 200506.png">
      
      <h3>About this channel</h3>
      <div id="hoge" class="box">
        <p>I created this YouTube channel about a year ago. It's a channel where I share instructional videos using the reference book "Special Reading English Idioms."</p>
        <p>I sometimes feel like I'm rambling, my English pronunciation isn't perfect, and it's really embarrasing, so I would prefer if you didn't watch it.</p>
        <p>Learning through sentences and context is undoubtedly the most effective way to remember not only individual words but also idioms and syntax. Particularly for acquiring idiomatic expressions, it is essential to associate them with their respective contexts. This book features a balanced selection of 60 English sentences containing frequently tested and important idioms and structures for entrance examinations.

           All you need for university entrance exams in one book.
            This book presents approximately 1,000 important idioms and structures (including related expressions) based on computer analysis of entrance exam questions from the past seven years. With this one book, you can cover almost all the idioms and structures that appear in university entrance exams. The English sentences are carefully chosen from the latest exam questions, offering engaging and easily readable materials.
            
            
            
            
        </p>  
      </div>
      
      <div class="infofooter"></div>
    <div class="foot">
      <div class="realfooter" id="foot">
        <div class="realfooter-logo">Natsuki's burgers Company.Limited</div>
            <div class="realfooter-list">
          
                <a href="./privacy.html" class="privacy">Privacy policy</a>
                <a href="./info.html" class="info">Company info</a>
                <a href="./contact.html" class="contact">Contact form</a>
          
            </div>
        </div>
    </div>
</body>
</html>