<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/privacy.css">
    <title>Document1</title>
</head>
<body>
<div class="privacysentence">
    <h1>Privacy policy</h1>
    <h2>Updated June 09, 2023</h2>
    <h2>Introduction</h2>
    <h3>Natsuki's burgers recognizes the importance of protecting personal information as a significant corporate responsibility in handling personal information on the Internet. In accordance with applicable laws and regulations regarding the protection of personal information, we establish the following "Personal Information Protection Policy." Our employees are committed to consistently being mindful of and acting in accordance with this personal information protection policy.
    </h3>
</div>
    <dl class="accordion js-accordion">
        <div class="accordion__item js-accordion-trigger">
          <dt class="accordion__title">About the use of personal information</dt>
          <dd class="accordion__content">our website will utilize personal information within the necessary scope to achieve the following purposes. In cases where personal information will be used for purposes not specified below, we will obtain the individual's consent in advance.<br>

            ・Operation and provision of services related to the use of the website and information<br>
            ・Payment processing operations<br>
            ・Responding to inquiries and customer questions<br>
            </dd>
        </div>
        <div class="accordion__item js-accordion-trigger">
          <dt class="accordion__title"> About the secure management of personal information</dt>
          <dd class="accordion__content">our website will take necessary and appropriate measures to prevent the leakage, loss, or damage of the handled personal information, as well as ensure its overall security management.

            </dd>
        </div>
        <div class="accordion__item js-accordion-trigger">
          <dt class="accordion__title">About entrusting personal information</dt>
          <dd class="accordion__content">When our website entrusts all or part of the handling of personal information to a third party, we conduct a rigorous investigation of the third party to ensure that the entrusted personal information is securely managed. We also provide necessary and appropriate supervision to the third party to ensure the security of the entrusted personal information.</dd>
        </div>
      </dl>

      <div class="privacyfooter"></div>
      
      <div class="realfooter">
        <div class="realfooter-logo">Natsuki's burgers Company.Limited</div>
        <div class="realfooter-list">
          
            <a href="./privacy.html" class="privacy">Privacy policy</a>
            <a href="./info.html" class="info">Company info</a>
            <a href="./contact.html" class="contact">Contact form</a>
          
        </div>
      </div>
</body>
</html>

<script src="../static/js/privacy.js"></script>
